body {
    /*background-color: rgba(245, 200, 218, 0.7);*/
    background-image: url("fundotela.jpg");
  }
  
  h1 {
    color: rgb(2, 1, 1);
    background-color: rgb(241, 185, 198);
    border: 2px solid rgb(233, 131, 148);
  }


  /* CLASS */
  .center { 
    text-align: center;
  }
 
  .fonte-rosa {
    background-color: rgb(241, 185, 198);
   color: black;
   /*border-style: solid;*/
   border-left-style: solid;
   border-color: rgb(233, 131, 148);
   border-width: 5px;
  }
   
  /* ID */
  #para {
    font-family: verdana;
    font-size: 20px;
  }
  