body {
    background-color: rgb(245, 200, 218);
  }
  
  h1 {
    color: rgb(230, 13, 147);
  }
  .center { 
    text-align: center;
  }
  
  .fonte-verde {
      color: green;
  }
  
  #para {
    font-family: verdana;
    font-size: 20px;
  }
  